@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  font-size: 16px !important;
}


// Colors

$infinity-purple-100: #FBF3FF;
$infinity-purple-200: #F0D1FF;
$infinity-purple-300: #E5AEFF;
$infinity-purple-400: #D98BFF;
$infinity-purple-500: #BE73E2;
$infinity-purple-600: #A35CC5;
$infinity-purple-700: #6F368B;
$infinity-purple-800: #8948A8;
$infinity-purple-900: #57266E;
$infinity-purple-901: #3F1951;
$infinity-purple-902: #20082B;

$infinity-gray-100 : #F9F8F9;
$infinity-gray-200 : #F8F6F5;
$infinity-gray-300 : #EAEAEA;
$infinity-gray-400 : #CCCCCC;
$infinity-gray-500 : #8B8C8C;
$infinity-gray-600 : #4F4F4F;
$infinity-gray-700 : #2D2F30;
$infinity-gray-800 : #151617;
$infinity-gray-900 : #3A3A3A;

$infinity-green-100 : #F0FFF6;
$infinity-green-200 : #CEFFE3;
$infinity-green-300 : #ADFFD0;
$infinity-green-400 : #8CFFBD;
$infinity-green-500 : #69FCA8;
$infinity-green-600 : #4DDA89;
$infinity-green-700 : #35B86D;
$infinity-green-800 : #219653;
$infinity-green-900 : #12743C;
$infinity-green-901 : #075227;

$infinity-yellow-100 : #FFFAED;
$infinity-yellow-200 : #FFF1C6;
$infinity-yellow-300 : #FFE79F;
$infinity-yellow-400 : #FFDD77;
$infinity-yellow-500 : #F2C94C;
$infinity-yellow-600 : #D0AA38;
$infinity-yellow-700 : #AE8C26;
$infinity-yellow-800 : #8C6F18;
$infinity-yellow-900 : #6A530D;
$infinity-yellow-901 : #483806;

$infinity-blue-100 : #F0F2FF;
$infinity-blue-200 : #E5EAFF;
$infinity-blue-300 : #B8C4FF;
$infinity-blue-400 : #A3AFFA;
$infinity-blue-500 : #6F7FFF;
$infinity-blue-600 : #4C5FF7;
$infinity-blue-700 : #4751D1;
$infinity-blue-800 : #4D58B2;
$infinity-blue-900 : #2C3684;

$infinity-red-100: #FFF5F5;
$infinity-red-200: #FDE7E8;
$infinity-red-300: #FFC2C5;
$infinity-red-400: #FAA3A7;
$infinity-red-500: #F7787E;
$infinity-red-600: #EC575E;
$infinity-red-700: #D1474E;
$infinity-red-800: #C43138;
$infinity-red-900: #66191D;
$infinity-red-901: #430A0C;
$infinity-red-92: #2E0507;

//flex

@mixin rowflex ($align, $just){
  display: flex;
  flex-direction: row;
  align-items: $align;
  justify-content: $just;
}

@mixin rowRevflex ($align, $just){
  display: flex;
  flex-direction: row-reverse;
  align-items: $align;
  justify-content: $just;
}

@mixin colflex ($align, $just){
  display: flex;
  flex-direction: column;
  align-items: $align;
  justify-content: $just;
}
@mixin revcolflex ($align, $just){
  display: flex;
  flex-direction: column-reverse;
  align-items: $align;
  justify-content: $just;
}

@mixin rowflexx ($align){
  display: flex;
  flex-direction: row;
  align-items: $align;
  
}
@mixin rowflexxx ($align){
  display: flex;
  flex-direction: row;
  align-items: $align;
  justify-content: space-between;
  
}

@mixin colflexx ($align){
  display: flex;
  flex-direction: column;
  align-items: $align;
  
}
@mixin colflexxx ($align){
  display: flex;
  flex-direction: column-reverse;
  align-items: $align;
  
}





// font styles

@mixin font($fs, $lh, $color) {
  font-size: $fs;
  line-height: $lh;
  color: $color;
  font-style: normal;
  font-family: 'lato', sans-serif;
    
}

@mixin fontMain($fs, $lh, $color) {
  font-size: $fs;
  line-height: $lh;
  color: $color;
  font-style: normal;
  font-family: 'Khand', sans-serif;
  
}
@mixin fontLight($fs, $lh, $color) {
  @include font($fs, $lh, $color);
  font-weight: 100;
}

@mixin fontNormal($fs, $lh, $color) {
  @include font($fs, $lh, $color);
  font-weight: 300;
}

@mixin fontMedium($fs, $lh, $color) {
  @include font($fs, $lh, $color);
  font-weight: 400;
}

@mixin fontSemiBold($fs, $lh, $color) {
  @include font($fs, $lh, $color);
  font-weight: 600;
}


@mixin fontBold($fs, $lh, $color) {
  @include font($fs, $lh, $color);
  font-weight: 700;
}

@mixin fontBlack($fs, $lh, $color) {
  @include font($fs, $lh, $color);
  font-weight: 900;
}

@mixin fontTitleMedium($fs, $lh, $color) {
  @include fontMain($fs, $lh, $color);
  font-weight: 400;
}
@mixin fontTitleBold($fs, $lh, $color) {
  @include fontMain($fs, $lh, $color);
  font-weight: 500;
}

@mixin fontTitleBlack($fs, $lh, $color) {
  @include fontMain($fs, $lh, $color);
  font-weight: 700;
}




// keyframes

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}

@include keyframes(slide-in) {
  0% { 
    opacity: 0;
    padding-top: 20px;
    @include animation('fade 0.7s 1'); 
  }

  100% { 
    padding-top: 0px; 
    @include animation('fade 0.7s 1'); 
  }
}

@include keyframes(fade) {
  0% { 
    opacity: 0; 
  }

  90% { 
    padding-top: 1; 
  }
}


@mixin animate($name, $duration, $iteration, $direction) {
  -webkit-animation-duration: $duration;
  -moz-animation-duration: $duration;
  -o-animation-duration: $duration;
  animation-duration: $duration;
  -webkit-animation-iteration-count: $iteration;
  -moz-animation-iteration-count: $iteration;
  -o-animation-iteration-count: $iteration;
  animation-iteration-count: $iteration;
  -webkit-animation-name: $name;
  -moz-animation-name: $name;
  -o-animation-name: $name;
  animation-name: $name;
  -webkit-animation-direction: $direction;
  -moz-animation-direction: $direction;
  -o-animation-direction: $direction;
  animation-direction: $direction;
}


/*********************
BREAKPOINTS
*********************/

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 70em) { @content ; }
  }
  @else if $point == laptop {
    @media (min-width: 64em) { @content ; }
    // @media (max-width: 56em) { @content ; }
  }
   @else if $point == tablet {
    // @media (min-width: 50em) { @content ; }
    @media (min-width: 800px) and (max-width: 1224px) {@content;}
    // @media (min-width: 768px) and (max-width: 1024px) {@content;} 
  }
  @else if $point == phablet {
    // @media (min-width: 37.5em)  { @content ; }
    // @media (min-width: 480px) and (max-width: 768px) { @content; }
    @media (min-width: 600px) and (max-width: 800px) { @content; }
  }
 @else if $point == mobileonly {
    // @media (max-width: 37.5em)  { @content ; }
    // @media (min-width: 320px) and (max-width: 480px) { @content; }
    @media (min-width: 300px) and (max-width: 600px) { @content; }
  }
}
